extends /example.pug

block title
  | Grid

block content
  h1 Grid
  
  p Responsive (5 columns/2 columns/1 column)
  
  .grid1
    - for (var i=1; i <= 10; i++)
      div(class=`item${i}`)= `item${i}`
      
  hr

  p Grid area (note empty area)
  
  .grid2
    .header Header
    .main Main
    .sidebar Sidebar
    .footer Footer

  hr

  p justify-items and align-items
  
  .grid3
    - for (let i=1; i <= 9; i++)
      div(class=`item${i}`)= `item${i}`

  hr
    
  p Use grid-area as shorthand for grid-row-start, grid-column-start, grid-row-end, and grid-column-end.
  
  .grid4
    .edge 囧
    .header Header
    - for (let i=1; i <= 10; i++)
      div(class=`cell${i}`)= `cell${i}`
      
  hr
    
  p Grid overflow
  
  .grid5
    - for (let i=1; i <= 10; i++)
      div(class=`cell${i}`)= `cell${i}`
    
